<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

<link
  rel="stylesheet"
  type="text/css"
  href="https://cdn.datatables.net/1.10.20/css/jquery.dataTables.css"
/>

<script
  type="text/javascript"
  charset="utf8"
  src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.js"
></script>
<table id="table_id" class="display">
  <thead>
    <tr>
      <th>RS</th>
      <th>Voie</th>
      <th>CP</th>
      <th>Commune</th>
      <th>Téléphone</th>
    </tr>
  </thead>
  <tbody></tbody>
</table>
<script>
  $(document).ready(function() {
    $("#table_id").DataTable({
      serverSide: true,
      type: "POST",
      ajax: {
        url: "api/search",
        error: function(xhr, error, thrown) {
          alert("Une erreur est survenue");
        }
      },
      processing: true
    });
  });
</script>
